[submodule "pfff-bytecode"]
	path = languages/pfff-bytecode
	url = https://github.com/aryx/pfff-bytecode.git
[submodule "lang_GENERIC/semgrep"]
	path = lang_GENERIC/semgrep
	url = https://github.com/returntocorp/semgrep
